/* layout.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.header {
  background: #333;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #bbb 1px solid;
}

.header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.header ul li a:hover {
  color: #c3c3c3;
}

.main {
  padding: 15px;
  background: #fff;
}

.footer {
  padding: 20px;
  background: #333;
  color: #fff;
  text-align: center;
}

@media (max-width: 600px) {
  .header li,
  .header ul {
    float: none;
    width: 100%;
  }
}
